<!DOCTYPE html>
<html>
  <head>
    <title>Snoge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/Snoge-Logo.png" href="/images/Snoge-Logo.png">

    <link rel="stylesheet" href="css/main.css">
  </head>

  <body class="container bio-padding">
    <a href="the_secret_of_my_bark">
      <h1 class="title">"The Secret of My Bark"</h1>
    </a>
    <a href="bereavement">
      <h1 class="title">"Bereavement"</h1>
    </a>
    <a href="the_next_stop_is_bleeker_and_vamp">
      <h1 class="title">"The Next Stop Is Bleeker and Vamp"</h1>
    </a>
    <a href="an_unexpected_alliance">
      <h1 class="title">"An Unexpected Alliance"</h1>
    </a>
    <a href="the_oval_office">
      <h1 class="title">"The Oval Office"</h1>
    </a>
    <img src="/images/Snoge-Logo.png" id="logo"> 
  </body>
</html>