<!DOCTYPE html>
<html>
  <head>
    <title>Snoge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/Snoge-Logo.png" href="/images/Snoge-Logo.png">

    <link rel="stylesheet" href="css/main.css">
  </head>

  <body class="container bio-padding">
    <h1 class="title">"Bereavement"</h1>
    <div class="bio">
      Opens in an Irish Pub at the corner of Washington Square Park in New York City.
      <br>
      A Sneed member among his fellow members is reading aloud from an electronic tablet showing a list of new recruits
      <br>
      “A stylized, black and white portrait of a dog, specifically resembling a Shiba Inu breed, depicted in a formal manner.”
      <br>
      “Circular frame and he’s enclosed within a perfect circle with a thin black border.”
      <br>
      “He has alert, pointed ears and sharp, attentive eyes.”
      <br>
      “A slightly upturned snout, giving an impression of a smile or smug expression.”
      <br>
      “Detailed fur with fine lines and shading.”
      <br>
      “Wearing formal human attire with a visible crisp white collar.”
      <br>
      “A dark tie is neatly knotted at the neck.”
      <br>
      “He is wearing a formal suit jacket with lapel and a pocket square is visible in his jacket's breast pocket.”
      <br>
      “It’s entirely in black and white.”
      <br>
      “Uses detailed, engraving-like technique for shading and texture.”
      <br>
      “The style combines realism (in the dog's features) with surrealism (in the human clothing).”
      <br>
      “His head is slightly tilted, suggesting confidence or curiosity.”
      <br>
      “He’s framed to show his head and upper body, similar to a human executive portrait.”
      <br>
      “Funny enough, he effectively combines the cute and loyal traits of a Shiba Inu with the formal, businesslike appearance of a well-dressed professional, creating a whimsical and slightly humorous effect.”
      <br>
      “Huh? Look at this.”
      <br>
      “It says here he was recruited by Mr. Sneed himself at Union Square Park about 10 weeks ago. Boss named him Snoge.”
      <br>
      “Well... I wonder what he’s been cooking..."
    </div>
    <img src="/images/Snoge-Logo.png" id="logo"> 
  </body>
</html>