<!DOCTYPE html>
<html>
  <head>
    <title>Snoge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/Snoge-Logo.png" href="/images/Snoge-Logo.png">

    <link rel="stylesheet" href="css/main.css">
  </head>

  <body class="container bio-padding">
    <h1 class="title">"The Secret of My Bark"</h1>
    <div class="bio">
      We open on a cozy farmhouse in Kansas. 
      <br>
      A playful DOG, named LUCKY, is chasing butterflies in the field.
      He looks out towards the horizon, his eyes filled with dreams.
      <br>
      Lucky had always been a small-town dog with big-city dreams.
      He yearned to find like-minded friends that shared his interest.
      <br>
      An elderly farmer is packing Lucky's things into a small bag.
      <br>
      "You’ve always wanted more, Lucky. 
      It’s time you find out what’s out there."
      <br>
      Lucky barks enthusiastically, wagging his tail.
      <br>
      Lucky hops onto a bus with a sign that reads "New York City."
      He takes one last look at the farmhouse and barks goodbye.
      <br>
      The bus pulls into the bustling city.
      Lucky steps off, overwhelmed but excited.
      He dodges between people's legs and avoids the hustle and bustle.
      <br>
      Lucky had no idea how he was going to make it in the big city, but he knew he had to try.
      <br>
      Lucky sneaks into a lecture at a coffee house with the topic being the DAO. 
      He understands that a Decentralized Autonomous Organization can be a powerful tool in working with others in solidarity and his tail wags furiously.
      <br>
      He makes friends with the locals: a hot dog vendor, a group of kids playing in the park, and a street musician.
      <br>
      Lucky one day meets a suave-looking man named MR. SNEED.
      <br>
      Mr. Sneed notices Lucky’s enthusiasm.
      <br>
      "You’ve got spunk, pup. How would you like to join a DAO?"
      <br>
      Lucky barks excitedly.
      <br>
      Lucky's big break had arrived.
      <br>
      Mr. Sneed smiled. 
      <br>
      "Lucky...how'd you like to have your DAO nickname be Snoge?"
      <br>
      Snoge barks with approval, wagging his tail.
      <br>
      Snoge is now contributing to the DAO his talents and in return is rewarded all kinds of resources and knowledge.
      He charms everyone with his dedication and friendly demeanor.
      <br>
      His hard work and determination paid off.
      He proved that even a small-town dog could make it in the big city by being open to community and friendship.
      <br>
      Looking out at the city skyline with pride,
      His new friends surround him, celebrating his success.
      <br>
      Snoge learned that with a bit of change and courage anything is possible when you believe in yourself. 
    </div>
    <img src="/images/Snoge-Logo.png" id="logo"> 
  </body>
</html>