<!DOCTYPE html>
<html>
  <head>
    <title>Snoge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/Snoge-Logo.png" href="/images/Snoge-Logo.png">

    <link rel="stylesheet" href="css/main.css">
  </head>

  <body class="container bio-padding">
    <h1 class="title">"The Next Stop Is Bleeker and Vamp"</h1>
    <div class="bio">
      It's Halloween Night on Six Ave and Bleeker St. with the annual parade in full swing. 
      <br>
      A Sneedster wearing a black suit is leaning back on stoops of a brownstone.
      <br>
      Watching the crowd and effortlessly rolling a coin up and down the knuckles of his hand.
      <br>
      “Yo!! Take a look at this Unc’s painted face!!” a young man shouted. 
      <br>
      “My guy still a Juggalo from ’97 and thinks he's The Great Melinko!!” “Ha! Ha-Ha-Ha! Haaaa!”
      <br>
      Smirking in delight, he watched the boy run off into the crowded streets.
      <br>
      Engraved on his coin is an inscription in a semi circle that reads :  “Internet CLOWN Protocol.”
      <br>
      “Feelin’ good my man?”
      <br>
      His fellow Sneedster also wearing a black suit had returned from inside the building.
      <br>
      He had the body of a man but the head of a frog. He is simply known as PEPE the frog.
      <br>
      Beside him was a full grown Shiba Inu on all fours wearing a formal suit jacket and a neatly knotted pin striped tie.
      <br>
      The newest member of the DAO and given the name SNOGE was canny but could not hide a disheartened look behind the eyes. 
      <br>
      “My condolences to ya Snoge for the passing of your Pops” CLOWN said as he sat up from the stoop. 
      <br>
      “Took some time to yourself?” SNOGE nods in agreement. “Good, because the DAO always looks after its own and the boss sees somethin' in ya.”
      <br>
      “You wanna get some Gray’s Papaya hot dogs?” PEPE asked SNOGE and with that the dog’s tail started wagging with approval.
      <br>
      The crowd was cheerful and the rhythm of the parades drums connected the city as it chanted and howled in the night.
      <br>
      As the three were walking down the costume filled street, they had a sense of belonging.
      <br>
      They blended in well amongst the backdrop of countless colorful characters. 
      <br>
      Suddenly SNOGE darts forward, quickly weaving around the hundreds of marching feet with incredible ease. 
      <br>
      PEPE and CLOWN ran after the dog but can barely keep a clear sight of him through the densely packed block.
      <br>
      He makes a sharp right into an alley way and the two finally catch up nearly losing their breath.
      <br>
      They see a barely lit alley way that looked empty but at the far end deep inside the darkness there was a figure that was slowly floating towards them. 
      <br>
      It grew taller the closer it came and came to a hault in the dim light about a half-dozen yards away.
      <br>
      He was nearly seven feet tall. He wore a red military uniform with large silver shoulder plates, wrists bands and shin guards while also wearing a blue Class-A dress cap garnishing a gold star. 
      <br>
      In his left hand clutched by the lapel was the young man that shouted at CLOWN earlier, seemingly  unconscious.
      <br>
      By its wide-eyed and fox-like intense stare with a full smile and glinting sharp fangs, they came to the realization that this was a vampire.
      <br>
      “Let me take a wild guess?” CLOWN finally said. “An Occult Sorcerer of the ancient craft of Necromancy!”
      <br>
      “Caster of mind-bending illusions! From the nether void of the shadow walkers!”
      <br>
      The laughter from the vampire echoed loudly throughout the alleyway. 
      <br>
      “A meal that includes entertainment?” said the vampire. “I really do need to get out more.” 
      <br>
      “Still though, I’d like some privacy with my food just like anyone else.” he said while admiring the young mans neck veins. 
      <br>
      With his eyes fixed on the veins he raised the young man's neck to his fangs which were now inches away from the carotid artery.
      <br>
      SNOGE dashes forward, closing the distance but the vampire releases the young man and teleports directly in front of CLOWN.
      <br>
      The vampire clutches the neck of CLOWN, raises him up slowly off the ground, and pulls his neck close to the now glistening fangs. 
      <br>
      “At last!! Some Sustenance!!” he shouts.
      <br>
      CLOWN interjected “I hear you fam! But I gotta say somethin'! My G, your breath is absolutely putrid” 
      <br>
      CLOWN hands over to the vampire a breath spray. The vampire instinctively obliged and uses the spray.
      <br>
      “Any more inter-“ *cough* “ruptions??” *cough* *cough*
      <br>
      The vampire’s coughing continued violently and then he looked at the breath spray label. 
      <br>
      “Spicy Hot Chili & Garlic Infused Prank Breath Spray!!” 
      <br>
      *WARNING* 
      BEWARE OF ALLERGIES TO GARLIC and/or CHILI
      <br>
      The vampire drops CLOWN to the ground. 
      <br>
      “I thought *cough* *cough* we were *cough* bros.”
      <br>
      He then twirls up in the air turning into a bat and flew out of the alleyway to the moonlit night sky.
      <br>
      The young man awoke and after profusely thanking the three he then proceeded to run home as fast he could.
      <br>
      PEPE started to feel a vibration in his suit jacket pocket. He pulls out his phone.
      <br>
      “Hate to spoil the fun for you two but boss just texted us.” PEPE says while showing them his phone screen. 
      <br>
      “We’re gonna need to take those hot dogs to-go.”
      <br>
      The text on the screen of the phone kept flashing only one name :  “MR. SNEED”
    </div>
    <img src="/images/Snoge-Logo.png" id="logo"> 
  </body>
</html>